/* Estilos CSS */

/* Estilos gerais */

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    font-family: 'Barlow', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para a tela inicial */
.welcome-container {
    text-align: center;
    margin-top: 50px;
    background-color: white;
}

.welcome-container h1 {
    font-size: 50px;
    color:#3d911b
}

.welcome-container p {
    font-size: 30px;
}


/* Estilos para a tela principal do usuário */
.main-container {
    display: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: center;
}

.main-container h5 {
    font-size: 70px;
    text-align: center;
    color: #3d911b;

}


#diet-form {
    text-align: center;
}
#diet-form label,
#diet-form input,
#diet-form button {
    display: block;
    margin: 10px auto;
}
#diet-form input {
    width: 100%;
    max-width: 300px; /* largura máxima para os inputs */
}

.main-container h1 {
    font-size: 36px;
    margin-top: 20px;
    text-align: center;
}

.remove-button {
    appearance: button;
    background-color: #741818;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    margin-left: 20px;
}

.remove-button:after {
    background-clip: padding-box;
    background-color: #ff0000;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
   }

.edit-button {
    appearance: button;
    background-color: #174e17;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    margin-left: 20px;
}

.edit-button:after {
    background-clip: padding-box;
    background-color: #3d911b;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
   }


form {
    text-align: center;
    margin-bottom: 20px; /* Espaço entre os formulários */
}
form label,
form input,
form button {
    display: block;
    margin: 10px auto;
}
form input {
    width: 100%;
    max-width: 300px; /* Largura máxima para os inputs */
}

/* Estilos para os formulários */
form {
    margin-bottom: 20px;
    justify-content:center
}

form label {
    font-weight: bold;
    font-size: 20px;
}

form input[type="text"],
form input[type="number"] {
    width: 400px;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: center;

}

/* Estilos para o perfil do usuário */
#profile {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#profile h3 {
    font-size: 28px;
}

.botao {
    justify-content: center;
    margin:auto;
    padding-top: 100px;
}


.caixatexto {
    margin-bottom: 20px; /* Espaçamento inferior para separar de outros elementos */
}

.caixatexto label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.caixatexto input {
    width: 100%; /* Ocupa toda a largura da div */
    max-width: 300px; /* Largura máxima */
    padding: 8px; /* Espaçamento interno */
    border: 1px solid #ccc; /* Borda */
    border-radius: 4px; /* Bordas arredondadas */
    box-sizing: border-box; /* Inclui borda e padding no cálculo da largura */
}


/*////////////////////////////////////////////////////////////////////////////*/
button {
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
   }
   
   button:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
   }
   
   button:main, button:focus {
    user-select: auto;
   }
   
   button:hover:not(:disabled) {
    filter: brightness(1.1);
   }
   
   button:disabled {
    cursor: auto;
   }
   
   button:active:after {
    border-width: 0 0 0px;
   }
   
   button:active {
    padding-bottom: 10px;
   }

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 180px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}
/*////////////////////////////////////////////////////////////////////////////*/

.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
    text-align: center;
  }
  
  .form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  
  .form__field::placeholder {
    color: transparent;
  }
  
  .form__field:placeholder-shown ~ .form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
  }
  
  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
  }
  
  .form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
  }
  
  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
  }
  
  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }


  .list-item {
    font-size: 22px; /* Tamanho da fonte */
    margin-bottom: 10px; /* Espaçamento inferior */
}